<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link vue library -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- link Axios libray -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- link style.css -->
    <link rel="stylesheet" href="style.css">

    <!-- link font awssome library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <title>Boolzapp</title>
</head>

<body>
    
    <div id="app">

        <div class="background">
            <div class="background_top"></div>
            <div class="background_bottom"></div>

            <!-- container -->
            <div class="container">

                <!-- top section -->
                <div class="container_top">

                    <!-- top left section -->
                    <div class="top_left">

                        <!-- top left left section  -->
                        <div class="top_left_left">
                            <div class="circle">
                                <img :src="myProfile.img" alt="myProfile.name">
                            </div>
                            <div class="my_name">
                                <span>{{myProfile.name}}</span>
                            </div>
                        </div>

                        <!-- top left right section -->
                        <div class="top_left_right">
                            <i class="fa-regular fa-circle fa-xl" style="color: #b1b1b1;"></i>
                            <i class="fa-solid fa-message fa-xl" style="color: #b1b1b1;"></i>
                            <i class="fa-solid fa-ellipsis-vertical fa-xl" style="color: #b1b1b1;"></i>
                        </div>

                    </div>

                    <!-- right section -->
                    <div class="top_right">

                        <!-- top right left -->
                        <div class="top_right_left">
                           <div class="circle">
                                <i class="fa-solid fa-user fa-xl"></i>
                            </div>
                            <span>Michele</span>
                        </div>

                        <!-- top right right -->
                        <div class="top_right_right">
                            <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #b1b1b1;"></i>
                            <i class="fa-solid fa-paperclip fa-xl" style="color: #b1b1b1;"></i>
                            <i class="fa-solid fa-ellipsis-vertical fa-xl" style="color: #b1b1b1;"></i>
                        </div>

                    </div>

                </div>

                <!-- main section -->
                <main>

                    <!-- main left -->
                    <div class="main_left">
                        
                        <!-- notification section -->
                        <div class="notification">
                            <div class="Notification_icon">
                                <div class="circle">
                                    <i class="fa-solid fa-bell-slash fa-xl" style="color: #8edafd;"></i>
                                </div>
                            </div>    
                            <div class="notification_text">
                                    <strong>Ricevi notifiche di nuovi messaggi</strong>
                                    <br>
                                    <a href="#">Attiva le notifiche desktop</a>
                            </div>                           
                        </div>

                        <!-- search bar -->
                        <div class="search">
                            <div class="search_container">
                                <button>
                                    <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #b1b1b1;"></i>
                                </button>
                                <input type="text" placeholder="Cerca o inizia una nuova chat">
                            </div>
                        </div>

                        <!-- chat section -->
                        <div class="chat_section">

                            <!-- chat -->
                            <div @click="openChat(i)" v-for="(contact, i) in contacts" :key="i" class="chat">
                                <div class="contact_img">
                                    <div class="circle">
                                        <img :src="contacts[i].img" alt="{{contacts[i].name}}">
                                    </div>
                                </div>
                                <div class="contact_name">
                                    <strong>{{contacts[i].name}}</strong>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- main right -->
                    <div class="main_right">

                        <!-- active chat -->
                        <div class="active_chat">
                            <div v-for="(message, i) in contacts[activeChat].messages" class="msg">
                                <div :class="{ 'received': message.status === 'received', 'sent': message.status === 'sent' }">
                                    {{contacts[activeChat].messages[i].message}}
                                </div>
                            </div>
                        </div>
                        
                        <!-- write message -->
                        <div class="write_msg">
                            <div class="emoji">
                                <i class="fa-regular fa-face-smile fa-xl" style="color: #b1b1b1;"></i>
                            </div>
                            <div class="input_msg">
                                <input @keyup.enter="handleEnterKey" type="text" placeholder="Scrivi qui il tuo messaggio" v-model="newMessage">
                            </div>
                            <div class="record">
                                <i class="fa-solid fa-microphone fa-xl" style="color: #b1b1b1;"></i>
                            </div>
                        </div>

                    </div>

                </main>

            </div>

        </div>

    </div>

    <!-- link to script.js -->
    <script src="script.js"></script>


</body>
</html>